/.idea/
*.iml
/target/*
!/target/surefire-reports
/target/surefire-reports/*
!/target/surefire-reports/bullet_point.png
!/target/surefire-reports/collapseall.gif
!/target/surefire-reports/emailable-report.html
!/target/surefire-reports/failed.png
!/target/surefire-reports/index.html
!/target/surefire-reports/jquery-3.4.1.min.js
!/target/surefire-reports/navigator-bullet.png
!/target/surefire-reports/passed.png
!/target/surefire-reports/skipped.png
!/target/surefire-reports/TEST-TestSuite.xml
!/target/surefire-reports/testng.css
!/target/surefire-reports/testng-failed.xml
!/target/surefire-reports/testng-reports.css
!/target/surefire-reports/testng-reports.js
!/target/surefire-reports/testng-reports1.css
!/target/surefire-reports/testng-reports2.js
!/target/surefire-reports/testng-results.xml
!/target/surefire-reports/TestSuite.txt